<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net40-Client" />
  <package id="OpenTK.GLControl" version="1.1.1589.5942" targetFramework="net40-Client" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net40-Client" />
</packages>